.backhome {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000; /* 确保它在页面上其他元素之上 */
}

.backhome-link {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.backhome-link i {
    margin-right: 5px;
}